html,body{
    width: 100%;
    padding: 0;
    margin: 0;
}
#stage{
    line-height: 0;
    width: 100%;
    position: relative;
}
#stage_bg{
    width: 100%;
}
#road_container{
    width: 100%;
    height: 0px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
#road{
    width: 100%;
}
#stage_container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.sprite{
    position: absolute;
    display: none;
}
#btn{
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    background:url("../images/btn_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 36px;
    line-height: 36px;
    text-align: center;
}