html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

body {
    background-color: #000000;
}

#videoWrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #000000;
}

#loadContent {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000000;
    display: none;
}

#loadImg {
    position: absolute;
    left: 50%;
    top: 50%;
}

#loadSpan {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #aaaaaa;
    display: block;
    left: 0;
    /*font-size: 14px;*/
    /*line-height: 24px;*/
    height: 22px;
    line-height: 0;
    vertical-align: middle;
}
#suoTip2{
    position: absolute;
    height: 22px;
    right: 0px;
    bottom: 10%;
}
#loadPercent {
    position: absolute;
    width: 100%;
    color: #aaaaaa;
    left: 0;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
}

#loadPercentBg {
    background-color: #ffffff;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
}

#video1Content {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    background-color: #000000;
}

#video2Content {
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    overflow: hidden;
    background-color: #000000;
}

.videoImg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.pa{
    position: absolute;
    left: 0;
    top: 0;
}
#loadPercentArrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #ffffff;
    position: absolute;
    right: 100%;
    bottom: 0;
}

#loadPercentSpan {
    position: absolute;
    right: 100%;
    bottom: 5px;
}

.suoIcon {
    width: 19px;
    height: 19px;
    line-height: 24px;
    vertical-align: middle;
}

.wh_100 {
    width: 100%;
    height: 100%;
}

#yindao1 {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-color: #000000;
}

#yindao2 {
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    background-color: #000000;
}

.yindao_desc {
    width: 220px;
    position: absolute;
    left: 10%;
    text-align: center;
    color: #dddddd;
    /*top: 50%;*/
    /*transform: translate(0, -50%);*/
}

.yindao_descTxt {
    width: 100%;
    height: 75px;
}
.yindao_descTxt2{
    width: 100%;
    height: 25px;
}
.roatation_icon {
    width: 90px;
    height: 90px;
    position: relative;
    margin-left: 62px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.roatation_icon img {
    width: 100%;
    height: 100%;
}

.rotation_nei {
    position: absolute;
    left: 0;
    top: 0;
}

.video_btn {
    width: 96%;
}

.yindao2_rotation {
    width: 92%;
}

.video_rotation_tip {
    position: absolute;
    left: 10px;
    bottom: 16%;
    width: 100%;
    /*font-size: 14px;*/
    /*line-height: 50px;*/
    color: #aaaaaa;
}
.video_rotation_tip2 {
    position: absolute;
    left: 10px;
    top: 84%;
    width: 100%;
    font-size: 14px;
    line-height: 50px;
    color: #aaaaaa;
}
.roatation_icon2 {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
}

.roatation_icon2 img {
    width: 100%;
    height: 100%;
}

.rotation_tip_txt {
    float: left;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

#infoContent {
    /*background: url("images/info_bg.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    position: absolute;
    left: 0;
    display: none;
    background-color: #000000;
}

.infoDesc {
    width: 26%;
    position: absolute;
    left: 12%;
    top: 18%;
}

.ljcp_btn {
    width: 22%;
    position: absolute;
    left: 45%;
    bottom: 23%;
}

.yysj_btn {
    width: 22%;
    position: absolute;
    left: 72%;
    bottom: 23%;
}

.cxgk_btn {
    width: 8%;
    position: absolute;
    right: 5%;
    top: 14%;
}

.submitContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    overflow: scroll;
}

.submitTitle {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 10px;
}

.submitTitle2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 2px;
}

.floatItem {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    float: left;
    margin-top: 3px;
}

.checkBox1 {
    margin-left: 20%;
    margin-top: 2px;
    width: 60%;
}

.span3 {
    width: 100%;
    line-height: 20px;
    font-size: 12px;
    color: #bbb;
}

.cxS_content {
    border: 1px solid #555;
    background-color: #000000;
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
    height: 20px;
}

.submitContent {
    overflow: hidden;
}

.submitContent select {
    font-size: 12px;
    color: #bbb;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20px;
    line-height: 20px;
    border: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.s_bg {
    width: 100%;
    height: 100%;
    color: #bbbbbb;
    font-size: 12px;
    line-height: 20px;
    padding-left: 5px;
}

.downArrow {
    line-height: 18px;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: #000;
    color: #888;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

#phoneInput, #nameInput {
    font-size: 12px;
    background-color: #000000;
    color: #bbb;
    width: 95%;
    border: none;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
}

.span4 {
    width: 100%;
    line-height: 20px;
    font-size: 12px;
    color: #bbb;
    margin-left: -3px;
}

.span5 {
    width: 100%;
    line-height: 15px;
    font-size: 12px;
    color: #bbb;
    border-bottom: 1px solid #ffffff;
}

.submBtn_div {
    width: 240px;
    margin: -5px auto;
}

.submBtn_div img {
    width: 100%;
}

.pop {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    overflow: scroll;
    background-color: #000000;
    color: #555;
    display: none;
}

.popClose {
    width: 94%;
    margin: 0 auto;
    font-size: 30px;
    line-height: 50px;
    color: #ffffff;
    height: 45px;
    text-align: right;
    margin-top: 20px;
}

.popTitle {
    width: 94%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    color: #bbbbbb;
}

.popContent {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: #bbbbbb;
    margin-bottom: 30px;
}

.closeSubmitContent {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    color: #ffffff;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
}
.op0{
    opacity: 0;
}
.musicIcon{
    position: absolute;
    top: 13%;
    right: 4%;
    width: 25px;
    height: 25px;
}
.hide{
    display: none;
    width: 0px;
    height: 0px
}
#loadingTip{
    display: none;
    position: absolute;
    left: 50%;
    top:50%;

}